/* Viewports */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

/* Colors */
$white: rgba(255, 255, 255, 1);
$lightgrey: rgba(242, 242, 242, 1);
$grey: rgba(217, 217, 217, 1);
$green:  rgba(104, 183, 56, 1);
$black: rgba(0, 0, 0, 1);
