.benefits__card {
  background-color: rgba(242, 242, 242, 1);
}

.bennefits__header-img {
  width: 50px;
  height: 53px;
}

.benefits__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
}

.benefits__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.benefits__catalog-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
