.faq__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.faq__items-list {
  list-style: none;
}

.faq__item img {
  width: 60px;
  height: 60px;
}

.faq__item-description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

@media (max-width: $mobile-width-only) {
  .faq__wrapper {
    padding: 0 20px;
    margin: 0 auto;
  }

  .faq__title {
    margin: 0;
    margin-bottom: 40px;
  }

  .faq__item {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .faq__wrapper {
    margin: 0 auto;
    padding: 27px 109px 0 30px;
  }

  .faq__items-list {
    display: grid;
    grid-template-columns: 249px 249px;
    row-gap: 37px;
    column-gap: 153px;
  }
}

@media (min-width: $desktop-width) {
  .faq__items-list {
    display: flex;
  }
}
