.faq__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.faq__items-list {
  list-style: none;
}

.faq__item img {
  width: 60px;
  height: 60px;
}

.faq__item-description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}
