.main-footer__background {
  background-color: rgba(242, 242, 242, 1);
}

.copyright-link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
}

.location img {
  width: 100%;
}
