.promo__background {
  width: 320px;
  height: 302px;
}

.promo-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo-description {
  font-size: 14px;
  line-height: 14px;
}

.promo__main-can {
  width: 280px;
  height: 270px;
}

.promo__main-button {
  font-size: 14px;
  line-height: 18px;
}
